@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Rock+Salt');

html{
    background-image: url(images/Background.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}


body {
    margin: auto;
    width: 98%;
    max-width: 1320px;
    padding: 20px;
    background-color: #222222;
    color: white;
}

h1 {
    font-family: 'Rock Salt', cursive;
    margin-bottom: 0px;
    font-size: 45px;
    margin-top: -30px;
}

p {
    font-family: 'Fugaz One', cursive;
    font-size: 26px;
    margin-top: -25px;
    margin-left: 80px;
}

.my-gallery {
  width: 100%;
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr;
}
    
.my-gallery img {
  width: 100%;
    height: auto;
}

.my-gallery img:hover {
    filter: grayscale(100%);
}

.my-gallery figure {
  margin: 0 0px 0px 0px;
}
.my-gallery figcaption {
    display: none;
}

.row:nth-child(3) {
    width: 0px;
}

.row:nth-child(4) {
    width: 0px;
}

.row:nth-child(5) {
    width: 0px;
}

.row:nth-child(6) {
    width: 0px;
}

.row:nth-child(1) figure:nth-child(even){
    height: 0px;
    width: 0px;
}

.row:nth-child(2) figure:nth-child(odd){
    height: 0px;
    width: 0px;
}


@media screen and (min-width: 600px) {
    .my-gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .row:nth-child(3) {
        width: 100%;
    }
    
    .row:nth-child(1) figure:nth-child(odd){
        height: 0px;
        width: 0px;
    }

    .row:nth-child(2) figure:nth-child(even){
        height: 0px;
        width: 0px;
    }
    
    .row:nth-child(1) figure:nth-child(3n+1){
        height: auto;
        width: 100%;
    }

    .row:nth-child(2) figure:nth-child(3n+2){
        height: auto;
        width: 100%;
    }
    
    .row:nth-child(3) figure{
        height: 0px;
        width: 0px;
    }
    
    .row:nth-child(3) figure:nth-child(3n+0){
        height: auto;
        width: 100%;
    }
    
    
}

@media screen and (min-width: 900px) {
    .my-gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .row:nth-child(4) {
        width: 100%;
    }
    
    .row:nth-child(1) figure:nth-child(3n+1){
        height: 0px;
        width: 0px;
    }

    .row:nth-child(2) figure:nth-child(3n+2){
        height: 0px;
        width: 0px;
    }
    
    .row:nth-child(1) figure:nth-child(4n+1){
        height: auto;
        width: 100%;
    }

    .row:nth-child(2) figure:nth-child(4n+2){
        height: auto;
        width: 100%;
    }
    
    .row:nth-child(3) figure:nth-child(3n+0){
        height: 0px;
        width: 0px;
    }
    
    .row:nth-child(3) figure:nth-child(4n+3){
        height: auto;
        width: 100%;
    }
    
    .row:nth-child(4) figure{
        height: 0px;
        width: 0px;
    }
    
    .row:nth-child(4) figure:nth-child(4n+0){
        height: auto;
        width: 100%;
    }
}

@media screen and (min-width: 1300px) {
    .my-gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    .row:nth-child(5) {
        width: 100%;
    }
    
    .row:nth-child(6) {
        width: 100%;
    }
    
    .row:nth-child(1) figure:nth-child(4n+1){
        height: 0px;
        width: 0px;
    }

    .row:nth-child(2) figure:nth-child(4n+2){
        height: 0px;
        width: 0px;
    }
    
    .row:nth-child(1) figure:nth-child(6n+1){
        height: auto;
        width: 100%;
    }

    .row:nth-child(2) figure:nth-child(6n+2){
        height: auto;
        width: 100%;
    }
    
    .row:nth-child(3) figure:nth-child(4n+3){
        height: 0px;
        width: 0px;
    }
    
    .row:nth-child(3) figure:nth-child(6n+3){
        height: auto;
        width: 100%;
    }
    
    .row:nth-child(4) figure:nth-child(4n+0){
        height: 0px;
        width: 0px;
    }
    
    .row:nth-child(4) figure:nth-child(6n+4){
        height: auto;
        width: 100%;
    }
    
    .row:nth-child(5) figure{
        height: 0px;
        width: 0px;
    }
    
    .row:nth-child(5) figure:nth-child(6n+5){
        height: auto;
        width: 100%;
    }
    
    .row:nth-child(6) figure{
        height: 0px;
        width: 0px;
    }
    
    .row:nth-child(6) figure:nth-child(6n+0){
        height: auto;
        width: 100%;
    }
    
}