<!doctype html>
<html>
    <head>
        
        <title>Portfolio</title>
        <link rel="shortcut icon" href="bertp-mini.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/style/reset.css">
        <link rel="stylesheet" type="text/css" href="/style/style.css">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/java.js"></script>
    </head>

    <body>

        <header>
        <a href="index.html" class="logo-link">
            <img src="/Images/bertp.png" class="logo">
            </a>
        
            <nav>
            <a href="portfolio.html" class="page-active">Portfolio
                </a>
            <a href="bertzelf.html">Bert zelf
                </a>
            <a href="contact.html">Contact
                </a>
            </nav>
        </header>

        <div class="wrap">
            <div class="bg"></div>
            <main class="portf-main">

                <!– Categorieën Portfolio –>
                
                <div class="portf-main-nav">
                    <a class="portf-main-nav-active" href="#">
                        <span class="portf-main-nav-a">&#8678;</span>
                    </a>
                    <a href="grafischdesign.html">
                        Grafisch design
                    </a>
                    <a href="webontwerp.html">
                        Webontwerp
                    </a>
                    <a href="layout.html">
                        Layout-Drukwerk
                    </a>
                    <a href="cinema4d.html">
                        After Effects & Cinema 4D
                    </a>
                </div>
                
                <!– Portfolio Items –>
                
                <div class="portf-item" style="background-image: url(/Images/CMT3-as7.PNG);">
                    <a href="/WebOntwerp/1819_PaulussenB_CMT3_Opdracht7/index.html" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">PhotoSwipe - Fotogallerij</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/ap-map.PNG);">
                    <a href="/Images/DeApMap.pdf" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Signalisatie: De AP-Map</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/CMT3-as5.PNG);">
                    <a href="/WebOntwerp/1819_PaulussenB_CMT3_Opdracht5/index.html" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Leaflet.js - Wereldkaart</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/CMT3-as4.PNG);">
                    <a href="/WebOntwerp/1819_PaulussenB_CMT3_Opdracht4/index.html" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Isotope.js - Pizzeria-menu</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/Inglourious.PNG);">
                    <a href="https://youtu.be/tuodKTyf0jM" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">"The Bear Jew" - CME3 Shot Compositie & Editing</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/CMT3-as2.PNG);">
                    <a href="/WebOntwerp/1819_PaulussenB_CMT3_Opdracht2/index.html" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">anime.js - Vans animatie</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/CMT3-as9.PNG);">
                    <a href="/WebOntwerp/1819_PaulussenB_CMT3_Opdracht9/index.html" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">p5.js - Tekenwebsite</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/LifeInLayers-klein.jpg);">
                    <a href="/Images/LifeInLayers.jpg" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Opdracht Life In Layers</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/AfficheStartdag1819.jpg);">
                    <a href="/Images/AfficheStartdag1819.pdf" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">KLJ - Affiche Startdag '18-'19</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/QuizFlyer-klein.jpg);">
                    <a href="/Images/QuizFlyer.jpg" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">KLJ - Flyer Algemene Quiz</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/vraag5.jpg);">
                    <a href="/Images/vraag5.jpg" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Cinema4D wijnglas</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/Virus.PNG);">
                    <a href="/WebOntwerp/1718_IT3_PaulussenB_Opdracht_10/index.html" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Virus.exe</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/vraag1.jpg);">
                    <a href="/Images/vraag1.jpg" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Cinema4D Hopla</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/Opdracht11_Kadrage-1.jpg);">
                    <a href="/Images/Opdracht11_Kadrage.pdf" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Opdracht Kadrage</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/DeWarmsteWeek.PNG);">
                    <a href="/WebOntwerp/1718_IT3_PaulussenB__opdracht_week_12/index.html" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Opdracht donatie-site voor goed doel</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/DannyBrown.PNG);">
                    <a href="https://youtu.be/wam0J_iFNzI" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Lyric Video: "Grown Up" - Danny Brown</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/revealJs.PNG);">
                    <a href="/WebOntwerp/CMT3-Opdracht1/index.html" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Presentatie in Reveal.js</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/AncientAmericanArt.PNG);">
                    <a href="/WebOntwerp/1718_IT2_PaulussenBert_permanente_evaluatie_3/index.html" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Ancient American Art</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/VeryWell.PNG);">
                    <a href="/WebOntwerp/1718_IT2_PaulussenBert_permanente_evaluatie_1/index.html" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">"Very Well" by RandoWis</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/IndieRuff.PNG);">
                    <a href="/WebOntwerp/1718_IT2_PaulussenBert_permanente_evaluatie_2/index.html" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Viral video-site (Work-in-progress)</span></a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/KingOfKong.PNG);">
                    <a href="/WebOntwerp/1718_IT2_PaulussenBert_permanente_evaluatie_4/index.html" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">King Of Kong Highscores (ASCII Art)</span></a>
                </div>

                <!– Tot hier zijn nieuwe –>
                
                <div class="portf-item" style="background-image: url(/Images/sass.PNG);" >
                    <a href= "/WebOntwerp/1718_IT3_PaulussenBert_opdracht_week_7/index.html" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Buzzfeed-like over SASS</span></a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/wolf.PNG);">
                    <a href="/WebOntwerp/1718_IT3_PaulussenB_opdracht_week_6/wolf.html" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">SVG-animatie met CSS</span></a>
                </div>


                <div class="portf-item" style="background-image: url(/Images/Affiche-ATTS-klein.png);">
                    <a href="/Images/Affiche-ATTS.png" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Filmposter</span></a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/Bluray-ATTS-klein.png);">
                    <a href="/Images/Bluray-ATTS.png" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Blu-ray hoes</span></a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/site-ATTS-klein.jpg);">
                    <a href="Images/site-ATTS.jpg" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Filmsite ontwerp</span></a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/Disc-ATTS.png)">
                    <a href="Images/Disc-ATTS.png" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Film-schijfje</span></a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/taartdiagram.PNG);">
                    <a href="/WebOntwerp/1718_IT3_PaulussenBert_opdracht_week_8/index.html" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Taartdiagram met CSS</span></a></div>

                <div class="portf-item" style="background-image: url(/Images/FlyerHappyKids1718.jpg)"><a href="/Images/FlyerHappyKids1718.pdf" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Drieluik folder voor Happy Kids Malle</span></a></div>

                <div class="portf-item" style="background-image: url(/Images/software2Port.png)"><a href="https://youtu.be/jPPZyQjjluA" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Software 2 Portfolio (After Effects)</span></a></div>

                <div class="portf-item" style="background-image: url(/Images/CnarLabelNight.png)"><a href="https://youtu.be/PE1OlcMR_bs" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Label Night Promo Video</span></a></div>

                <div class="portf-item" style="background-image: url(/Images/FotografischePlaat-klein.jpg)"><a href="/Images/FotografischePlaat.jpg" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Fotografische platencover</span></a></div>

                <div class="portf-item" style="background-image: url(/Images/IllustratievePlaat-klein.jpg)"><a href="/Images/IllustratievePlaat.jpg" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Illustratieve platencover</span></a></div>

                <div class="portf-item" style="background-image: url(/Images/TypografischePlaat-klein.jpg)"><a href="/Images/TypografischePlaat.jpg" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Typografische platencover</span></a></div>

                <div class="portf-item" style="background-image: url(/Images/Speciaal+Schijfkopie.png)"><a href="/Images/Speciaal+Schijfkopie.png" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">Platencover met speciale drager</span></a></div>

                <div class="portf-item" style="background-image: url(/Images/Logos-05.png)"><a href="/Images/ecoteam.png" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">
                    Logo voor Eco Drive Team</span></a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/portefolioPB2.png)"><a href="/Images/1617_PB2_PaulussenB_Opdracht12.pdf" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">
                    Portfolio Publishing 2</span></a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/living.png)"><a href="/Images/living.PNG" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">
                    Living in cinema 4d</span></a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/low-poly-planet.png)"><a href="/Images/low-poly-planet.PNG" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">
                    Low Poly planeet in Cinema4D</span></a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/Afbeelding25.jpg)"><a href="/Images/GD1-schaal.pdf" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">
                    Tekenoefening Schaal</span></a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/Beweging-klein.jpg); background-position:bottom;"><a href="/Images/GD1-schaal2.pdf" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">
                    Collage Schaal</span></a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/letteranimatie.png);"><a href="/Images/letteranimatie.PNG" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">
                    Text-animatie Cinema4D</span></a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/gummybeer.PNG);"><a href="/Images/gummybeer.PNG" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">
                    Teddybeer in Cinema4D</span></a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/FlyerStartAct1718-1.png);"><a href="/Images/GD1-schaal2.pdf" class="portf-titels"><span style="background-color:white; padding:5px;font-size: 12px;line-height: 20px;">
                    Affiche & Flyer Start-activiteit KLJ</span></a>
                </div>

            </main>
        </div>
            
                <footer>
            <p class="footer-title">Gemaakt door Bert Paulussen | Student CMO op AP | 2018</p>
            <div class="footer-links">
                <div class="footer-nav">
                    <a href="index.html">Hoofdpagina</a>
                    <ul><a href="portfolio.html">Potfolio</a>
                        <li><a href="webontwerp.html">Webontwerp</a></li>
                        <li><a href="grafischdesign.html">Grafisch ontwerp</a></li>
                        <li><a href="layout.html">Layout & drukwerk</a></li>
                        <li><a href="cinema4d.html">After effects & Cinema4D</a></li>
                    </ul>
                    <a href="bertzelf.html">Bert zelf</a>
                </div>
                <div class="footer-contact">
                    <p class="footer-text"><a href="/views/contact.html">Contact</a></p>
                    <a style="background-image: url(/Images/Icons/icon-fb.png)" href="https://www.facebook.com/bert.paulussen"></a>
                    <a style="background-image: url(/Images/Icons/icon-yt.png)" href="https://www.youtube.com/channel/UCBDqJzhggPUVpxGhr2P47Qw?view_as=subscriber"></a> 
                    <a style="background-image: url(/Images/Icons/icon-li.png)" href="https://be.linkedin.com/in/bert-paulussen-5bbb08141"></a>
                    <a style="background-image: url(/Images/Icons/icon-gp.png)" href="https://plus.google.com/u/0/111459815502032948559?tab=qX"></a>
                </div>
            </div>
        </footer>
    </body>
    
</html>